.login {
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: black;
}

.login > img {
    width: 100%;
}

.login > a {
    padding: 10px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none; 
}

.login, img {
    height:auto;
}

.login {
    background-color: aqua;
}