.developerPage {
  background-color: rgb(40, 4, 7);
  /* color: white; */
  color: #f8f1f1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.developerPage__title {
  display: flex;
  justify-content: center;
}

.developerPage__row {
  display: flex;
  justify-content: center;
}
