.footer {
  background-color: #20457c;
  color: white;
  height: 100px;
  padding-top: 10px;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 4em; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;   
  font-size: small;      
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
