
.leaderboardPage {
  background-color: rgb(40, 4, 7);
  font-family: 'Press Start 2P', cursive;
  position: relative;
  min-height: 100vh;
  padding: 0;
  padding-bottom: 2.5rem;
}

.leaderboardPage__title {
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 60px;
  padding-top: 30px;
}

.leaderboardPage__columns {
  display: flex;
  justify-content: space-around;
  color: yellow;
  font-weight: 700;
  font-size: 12px;
  margin: 0 30% 0 30%;
}

.leaderboardPage__footer {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 50px;
}

.leaderboardPage__Icon {
  -webkit-animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
  }
}

.leaderboardPage_button {
  background-color: rgb(40, 4, 7);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 5rem;
}