.login {
  display: grid;
  place-items: center;
  background-color: rgb(40, 4, 7);
  position: relative;
  min-height: 100vh;
  padding-bottom: 2.5rem;
  color: white;
}

.login > a {
  padding: 10px;
  border-radius: 99px;
  background-color: #105e3a;
  font-weight: 800;
  color: white;
  text-decoration: none;
}
.gameboard {
  display: flex;
  justify-content: center;
}

.jumbotron {
  background-color: rgb(40, 4, 7);
  margin: 0px;
}
.container {
  color: white;
  padding: 64px 0px 0px 0px;
}
