.song__list {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
}

.song__box {
    display: flex;
    flex-direction: column; 
    align-items: center;

}
.songRow {
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.songRow__info {
    margin-left: 20px;
    color: gray;

}

.songRow__info > h1 {
    font-size: 16px;
    font-weight: bolder;

}

.songRow__info > p {
    font-size: 14px;
    margin-top: 3px;
    color: gray;
    font-weight: bold;

}

.songRow__album {
    height: 100px;
    width: 100px;

}

.songRow__button {
    height: 250px;
    width: 250px;
    background-color: rgb(40, 4, 7);
    transition-duration: 0.4s;
}

.songRow__button:hover {
    height: 225px;
    width: 225px;
    background-color: white ;
}

.songRow__button:active {
    background-color: rgb(40, 4, 7);
    box-shadow: 0 1px #666;
    transform: translateY(4px);
  }

  .songRow__button__clicked {
    height: 200px;
    width: 200px;
    background-color: white ;
}

