.login {
    display: grid;
    place-items: center;
    height: 50vh;
    background-color: black;
}

.logo{
    object-fit: contain;
    align-items: center;
    justify-content: center;
    height:150px;
    widows: 150px;
    background-color: aqua;
}
.login > a {
    padding: 10px;
    border-radius: 99px;
    background-color: #1db954;
    font-weight: 800;
    color: white;
    text-decoration: none; 
}

.login {
    background-color: aqua;
}