.login {
  display: grid;
  place-items: center;
  height: 50vh;
  background-color: black;
}

.login > a {
  padding: 10px;
  border-radius: 99px;
  background-color: #105e3a;
  font-weight: 800;
  color: white;
  text-decoration: none;
}

.login {
  background-color: rgb(40, 4, 7);
  height: 100%;
}

.jumbotron {
  background-color: rgb(40, 4, 7);
  margin: 0px;
}
.container {
  color: white;
}
